# Django
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
__pycache__/
local_settings.py

# React
node_modules/
build/
/.idea/
.DS_Store

# Docker
docker-compose.yml
docker-compose.override.yml
.docker/
.env
