.homepage_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage_nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.homepage_hr {
    width: 100%;
}

.homepage_room-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.homepage_room-name input {
    padding: 5px 20px;
}

.homepage_room-name button {
    padding: 3px 50px;
    margin-top: 5px;
}
