.chat-home {
  display: flex;
  height: 100vh;
  background-color: black;
  overflow-y: hidden;
}

.sidebar {
  width: 25%;
  background-color: #212121;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 10px;
  box-sizing: border-box;

  .user {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    transition: background-color 0.3s;
    border-radius: 20px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 1rem;
    }

    span {
      font-size: 1.2rem;
      font-weight: bold;
      color: white;
    }

    &:hover {
      // background-color: #8774e1;
      background-color: #2e2e2e;
      border-radius: 20px;
      cursor: pointer;
    }
  }

  .selected {
    background-color: #8774e1 !important;
    border-radius: 20px;
  }
}

.chat-area {
  position: relative;
  width: 100%;
  height: 100%;

  .chat-area_bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(2px);
    opacity: 0.9;
    position: absolute;
    // z-index: ;
  }

  .chat_user-container {
    display: flex;
    flex-direction: column;
  }

  .chat_reciever-username {
    display: flex;
    align-items: center;
    width: 100%;
    backdrop-filter: blur(10px);
    padding: 15px 20px;
    border-bottom: 1px solid rgba(80, 80, 80, 0.414);

    .chat_userprofile-pic {
      box-shadow: 0 0 10px 5px #8774e1;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    .chat_user-profile_info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;

      p {
        font-size: 21px;
        font-weight: bold;
        color: white;
        margin: 0px;
      }

      .chat_user-online {
        font-size: 14px;
        margin-top: 2px;
        color: #8774e1;
      }

      .chat_user-offline {
        font-size: 14px;
        color: rgb(106, 106, 106);
      }
    }
  }

  .chat_messageHistory {
    top: 10%;
    width: 100%;
    overflow: scroll;
    height: 80vh;
    z-index: 1;
    padding: 0 180px;

    .message_history-content_my {
      display: flex;
      justify-content: flex-end;
      margin-left: 450px;
      p {
        background-color: #8774e1;
        padding: 10px 25px;
        border-radius: 10px;
        border-bottom-right-radius: 0px;
        color: white;
      }
    }

    .message_history-content_from {
      display: flex;
      justify-content: flex-start;
      margin-right: 450px;
      p {
        background-color: #2e2e2e;
        padding: 10px 25px;
        border-radius: 10px;
        border-bottom-left-radius: 0;
        color: white;
      }
    }
  }

  .chat_messageHistory::-webkit-scrollbar {
    display: none;
  }

  .chat-area_msg {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    width: 100%;
    z-index: 1;

    input[type="text"] {
      width: 500px;
      padding: 15px 25px;
      border: none;
      border-radius: 16px;
      outline: none;
      background-color: #212121;
      color: white;
      overflow: scroll;
    }

    button {
      width: 45px;
      height: 45px;
      background-size: cover;
      cursor: pointer;
      margin-left: 10px;
      border-radius: 50%;
      background-color: #8774e1;
      color: white;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 17px;
    }
  }
}
